*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
}
.header ul{
  display: flex;
}
header ul li {
  margin: 0px 10px;
}